@import url("https://use.typekit.net/bbe0ngx.css");
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "proxima-nova", sans-serif !important;
  letter-spacing: 1px;
}

header .nav-blue {
  background: #1f67eb !important;
}
header #hero-wrap .mobile::before,
header #hero-wrap .desktop::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #000e34 0%, #00135680 100%);
  opacity: 0.6;
}

#hero-wrap .hero-caption h1 {
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}
#hero-wrap .cta-btn {
  font-family: "proxima-nova", sans-serif !important;
  display: inline;
  padding: 0;
  padding: 15px 30px !important;
  margin-top: 0;
  font-size: 1.2em;
  font-weight: 500;
}
#hero-wrap .gradient {
  background: #fff;
  color: #01236F;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  z-index: 1;
}
#hero-wrap .gradient:hover {
  opacity: 0.8;
}

#content .wrapper {
  max-width: 1600px;
  width: 80%;
}

#rcnsgLP {
  font-family: "proxima-nova", sans-serif !important;
  font-style: normal;
}
#rcnsgLP h2 {
  font-size: 2em;
  font-weight: 700;
}
#rcnsgLP p {
  font-family: "proxima-nova", sans-serif !important;
  font-size: 1.2em;
  margin-bottom: 1rem;
}
#rcnsgLP .button {
  text-align: center;
}
#rcnsgLP .cta-btn {
  padding: 0;
  padding: 15px 30px !important;
  margin-top: 0;
  font-size: 1.2em;
  font-weight: 600;
  width: 300px;
  min-width: 300px;
  margin: auto;
}
#rcnsgLP .solid {
  background: #01236F;
  color: #fff;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  z-index: 1;
}
#rcnsgLP .solid:hover {
  opacity: 0.8;
}
#rcnsgLP .intro {
  display: flex;
  flex-wrap: wrap;
}
#rcnsgLP .intro .left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01236F;
  width: 60%;
  padding: 100px 5rem;
  color: #fff;
}
#rcnsgLP .intro .left .article p {
  text-align: justify;
  opacity: 0.8;
  text-align: justify;
}
#rcnsgLP .intro .right {
  width: 40%;
  position: relative;
  background: url(../images/rcnsg-lp-it/intro-bg.png);
  background-size: cover;
  background-position: top right;
}
#rcnsgLP .benefit {
  background: #F7F7F7;
}
#rcnsgLP .benefit h2 {
  color: #01236F;
  text-align: center;
}
#rcnsgLP .benefit .benefit-container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  justify-content: space-evenly;
}
#rcnsgLP .benefit .benefit-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#rcnsgLP .benefit .benefit-container .item img {
  width: 120px;
}
#rcnsgLP .benefit .benefit-container .item .heading {
  font-size: 1.5em;
  color: #000000;
  font-weight: 600;
  text-align: center;
}
#rcnsgLP .benefit .benefit-container .item p {
  color: #000000;
  text-align: center;
}
#rcnsgLP .specialisations {
  background: #01236F;
}
#rcnsgLP .specialisations h2 {
  color: #fff;
  text-align: center;
}
#rcnsgLP .specialisations .specialisations-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding: 3rem 0;
}
#rcnsgLP .specialisations .specialisations-container .left {
  width: 40%;
}
#rcnsgLP .specialisations .specialisations-container .right {
  width: 40%;
}
#rcnsgLP .specialisations .specialisations-container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#rcnsgLP .specialisations .specialisations-container ul li {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}
#rcnsgLP .specialisations .specialisations-container ul li .icon {
  width: 25px;
  height: auto;
  margin-right: 15px;
}
#rcnsgLP .specialisations .button .solid {
  background: white;
  color: #01236F;
}
#rcnsgLP .testimonials {
  background: #efefef;
  padding-bottom: 3rem;
  position: relative;
}
#rcnsgLP .testimonials h2 {
  color: #000e34;
  text-align: center;
  margin-bottom: 4rem;
}
#rcnsgLP .testimonials .quote {
  margin: auto auto;
  z-index: 8;
  position: relative;
  width: 60px;
  height: 60px;
  background: #01236F;
  padding: 10px;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}
#rcnsgLP .testimonials .quote img {
  width: 100%;
  height: auto;
}
#rcnsgLP .testimonials .testimonials-container {
  margin-top: -25px;
}
#rcnsgLP .testimonials .testimonials-container .box .inner {
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 3rem 3rem;
  color: #000000;
}
#rcnsgLP .testimonials .testimonials-container .box .inner .words .text {
  font-size: 1.35em;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 3rem;
}
#rcnsgLP .testimonials .testimonials-container .box .inner .words .name {
  font-weight: 600;
  text-align: right;
}
#rcnsgLP .testimonials .testimonials-container .box .inner .words .position {
  font-weight: 400;
  text-align: right;
  margin-top: 1rem;
  font-style: italic;
  font-size: 1em;
}
#rcnsgLP .button {
  margin-top: 4rem;
}
#rcnsgLP .owl-dot {
  margin-top: 20px;
}
#rcnsgLP .owl-dot span {
  background: #d0d0d0;
}
#rcnsgLP .owl-dot.active span {
  background: #01236F;
}

footer {
  background: #01236F;
}

@media only screen and (max-width: 768px) {
  #content .wrapper {
    width: 100%;
  }

  #rcnsgLP h2 {
    font-size: 2em;
  }
  #rcnsgLP p {
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  #rcnsgLP .cta-btn {
    padding: 15px 30px !important;
    font-size: 1.2em;
    width: 100%;
    min-width: unset;
  }
  #rcnsgLP .intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #rcnsgLP .intro .left {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #01236F;
    width: 100%;
    padding: 2rem 2rem;
    color: #fff;
  }
  #rcnsgLP .intro .left .article p {
    text-align: justify;
    opacity: 0.8;
    text-align: justify;
  }
  #rcnsgLP .intro git .right {
    width: 100%;
    height: 300px;
    position: relative;
    background: url(../images/rcnsg-lp-it/intro-bg.png);
    background-size: cover;
    background-position: top right;
  }
  #rcnsgLP .benefit .benefit-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-evenly;
  }
  #rcnsgLP .benefit .benefit-container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
  }
  #rcnsgLP .benefit .benefit-container .item img {
    width: 100px;
  }
  #rcnsgLP .benefit .benefit-container .item .heading {
    font-size: 1.5em;
  }
  #rcnsgLP .specialisations {
    background: url(../images/rcnsg-lp-fintech/bg.png);
    background-size: cover;
    background-attachment: unset;
    background-position: center;
  }
  #rcnsgLP .specialisations .specialisations-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding: 2rem 0;
    padding-bottom: 0;
  }
  #rcnsgLP .specialisations .specialisations-container .left {
    width: 100%;
  }
  #rcnsgLP .specialisations .specialisations-container .right {
    width: 100%;
  }
  #rcnsgLP .specialisations .specialisations-container ul {
    flex-direction: column;
  }
  #rcnsgLP .specialisations .specialisations-container ul li {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  #rcnsgLP .specialisations .specialisations-container ul li .icon {
    width: 20px;
  }
  #rcnsgLP .testimonials-2 {
    padding-bottom: 2rem;
  }
  #rcnsgLP .testimonials-2 h2 {
    margin-bottom: 2rem;
  }
  #rcnsgLP .testimonials-2 .quote {
    width: 60px;
    height: 60px;
    padding: 10px;
  }
  #rcnsgLP .testimonials-2 .quote img {
    width: 100%;
    height: auto;
  }
  #rcnsgLP .testimonials-2 .testimonials-container {
    margin-top: -25px;
  }
  #rcnsgLP .testimonials-2 .testimonials-container .box .inner {
    width: 100%;
    padding: 3rem 2rem;
  }
  #rcnsgLP .testimonials-2 .testimonials-container .box .inner .words .text {
    font-size: 1.2em;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
}